.courseinfo_card {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
    padding: 53px 64px;
    border: 1px solid gray;
    border-radius: 5px;
    background: rgb(255, 255, 255);

    &__line {
        width: 1px;
        height: 90%;
        background: gray;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    &__info {
        display: flex;
        gap: 36px;
        justify-content: center;
        margin-top: 20px;
    }
}

.courseinfo_content {
    &__title {
        font-size: 20px;
        font-weight: 700;
        color: #333E48;
    }
    &__description {
        font-size: 16px;
        font-weight: 400;
        color: #333E48
    }
}

.courseinfo_info {
    &__column {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-content: space-between;;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        color: #333E48;
    }
    &__description {
        font-size: 16px;
        font-weight: 400;
        list-style: 20px;
        color: #333E48;
    }
}

@media (max-width: 1024px) {
    .courseinfo_card {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .courseinfo_card {
        padding: 15px;
    }
}