.auth_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    height: 100%;

    &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
}