.author_form {
    &__field {
        display: flex;
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .author_form {
        &__field {
            flex-direction: column;
        }
    }
}