.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;

    &[data-dark="true"] {
        background: #fafafa;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    } 
}

@media (max-width: 425px) {
    .container {
        &__actions {
            flex-direction: column;
        }
    }
}