.button {
    --border-width: 0px;
    --border-color: none;
    --border-radius: 5px;
    --background: none;
    --color: none;
    --padding: none;
    --font-size: none;
    --font-weight: none;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    background: rgba(var(--background));
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: rgba(var(--color));
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background: rgba(var(--background));
        opacity: 0.5;
    }

    &:hover, &:focus {
        background: rgba(var(--background), 0.8)
    }

    &[data-color="primary"] {
        --background: 0, 174, 255;
        --border-color: none;
        --color: 255, 255, 255;
    }

    &[data-size="lg"] {
        --padding: 20px 35px;
        --font-size: 1rem;
    }
    &[data-size="md"] {
        --padding: 15px 30px;
        --font-size: 0.9rem;
        --font-weight: 600;
    }
    &[data-size="sm"] {
        --padding: 5px 10px;
        --font-size: 0.85rem;
    }
    &[data-size="icon"] {
        --padding: 15px;
    }
}
