.course {
    &__actions {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        gap: 10px;
    }
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 24px;
    }
    &__action {
        margin-top: 40px;
    }
}

.empty_content {
    &__title {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .course {
        &__actions {
            grid-template-columns: repeat(3, auto);
        }
    }
}
